header{
    background-color: #333;
    padding: 15px 15px;
}

.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-around;
}

header .container nav{
    display: flex;
    justify-content: space-between;
}

header .container nav a{
    color: #fafafa;
    text-decoration: none;
    font-size: 1em;
    padding: 0 15px;
    align-self: center;
}

.containermain{
    background: url('../img/bg-intro.jpg');
    height: 450px;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sec1 .containermain h1{
    color: #fafafa;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#sec1 h6{
    color: #fafafa;
    font-style: italic;
}

#mistura h3{
    display: flex;
	justify-content: space-around;
	align-items: center;
    font-weight: bold;
    padding: 50px;
    font-size: 2em;
}

#mistura p{
    color: #333;
    font-style: italic;
    max-width: 300px;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 50px 0px;
} 

.cafes{
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#states{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    background-color: rgb(214, 214, 214);
}

#states div{
    display: flex;
	justify-content: space-around;
	align-items: center;
}

#states div p{
    max-width: 400px;
    margin: 
}

.bt{
    background-color: rgb(214, 214, 214);
    padding: 10px 10px 10px 10px;
    border: 2px solid #333;
    margin-bottom: 50px;
}

.loja{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: stretch;
    margin: 50px 00px 50px 0px;
}

.loja img{
    width: 400px;
    height: 250px;
}

.info h3{
    font-size: 2em;
    font-weight: bold;
    margin: 0px 0px 30px 20px;
}

.info p{
    display: flex;
    text-align: flex-start;
    font-size: 1em;
    max-width: 300px;
    margin: 0px 0px 30px 20px;
    line-height: 25px;
}

.info button{
    padding: 7px 10px 7px 10px;
    border: 3px solid #333;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    margin: 0px 0px 30px 20px;
}

#assinatura{
    background-color: rgb(214, 214, 213);
}

#assinar{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#assinar p{
    font-style: italic;
    font-size: 1em;
}

#assinar input{
    border: #333 solid;
    margin: 0;
    width: 300px;
    height: 30px;
    color: #333;
}

#assinar #submit{
    border: none;
    background-color: #333;
    color: #fafafa;
    width: 100px;
    height: 40px;
    padding: 0;
}

#assinar div h5{
    font-size: 2em;
    font-weight: bold;
}

footer{
    background-color: rgb(158, 158, 158);
}

#rod{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
